@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

.main {
  background: #f9f7fc;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #383838;
}

.containerTexts {
  padding-top: 30px;
  text-align: center;
}

.containerSelects {
  width: 400px;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px lightgray;
}

.containerTextsResult {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 100vh;
  background-color: #dcf5f2;
}